<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link rel="stylesheet" href="/css/index.css" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no" />
 	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title></title>
</head>
<body>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/jquery-3.1.0.min.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/exif.js"></script>
  <script src="/js/uploadImage.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/ion.sound.min.js"></script>
  <script src="/js/end.js"></script>
  <div class="wrap">
   <div id="pc_qrcode" style="display:none">
    <div id="oppo_flag"></div>
   </div>
   <div class="page loading">
    <div class="loading_box">
     <div class="loading_opening"></div>
     <div class="progress">
      <img src="http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bg.png" class="background" />
      <img src="http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bar.png" class="bar" />
     </div>
    </div>
   </div>
   <div class="page p0">
    <img src="http://oppofans-1252859479.file.myqcloud.com/public/image/close.png" style="display:none" />
    <div id="first_poster"></div>
    <div id="first_enter_box"></div>
   </div>
</body>
</html>