doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='./css/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title 博物馆
  body
    script(src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script(src='./js/jquery-3.1.0.min.js')
    script(src='./js/uploadImage.js')
    script(src='./js/exif.js')
    script(src='./js/index.js')
    .wrap
      .page.p0
        video#my_video_1(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='landscape|portrait', style='')
          source(src='./v/01-near.mp4', type='video/mp4')
        video#my_video_2(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='landscape|portrait', style='display:none')
          source(src='./v/02-openin.mp4', type='video/mp4')
      .page.p1
        .upload_wrap
          .upload_wrap_small
            .upload
              input#btn_upload(type='file', accept='image/*', onchange='selectFileImage(this);')
              img#pic
            .name 馆长
            .phone 手机
            .input_name
              input#name(type='text', name='name')
            .input_phone
              input#phone(type='text', name='phone')
        // <div class="btn_chuan" onclick="upload_click()"><img src="./image/btn_write.png"></div>
        button#in(onclick='upload_click()') 进入博物馆
      .page.p2
        #view
          #bigCube
            #cube
              .stage
                .container