doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='./css/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title 博物馆
  body
    script(src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script(src='./js/jquery-3.1.0.min.js')
    script(src='./js/uploadImage.js')
    script(src='./js/exif.js')
    script(src='./js/index.js')
    .wrap
      .page.p0
        img(src='./image/close.png', style='display:none')
        video#my_video_1(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x-webkit-airplay="allow", x5-video-orientation='landscape|portrait', style='')
          source(src='./v/01-near.mp4', type='video/mp4')
        video#my_video_2(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='landscape|portrait', style='display:none')
          source(src='./v/02-openin.mp4', type='video/mp4')
      .page.p1
        .upload_wrap_background
        .upload_wrap
          .upload_wrap_small
            .upload
              input#btn_upload(type='file', accept='image/*', onchange='selectFileImage(this);')
              img#pic
            .name 馆长
            .phone 手机
            .input_name
              input#name(type='text', name='name')
            .input_phone
              input#phone(type='text', name='phone')
        // <div class="btn_chuan" onclick="upload_click()"><img src="./image/btn_write.png"></div>
        #in(onclick='upload_click()')
        #welcome
      .page.p2
        #view
            button#close 关灯
            button#share_in 分享
            video#close_0(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='landscape|portrait', style='display:none')
              source(src='./v/close_0.mp4', type='video/mp4')
            video#exit_0(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='landscape|portrait', style='display:none')
              source(src='./v/exit_0.mp4', type='video/mp4')
          #bigCube
            #cube
              .stage
                .container
      .page.p3
        .share_wrap
          .share_wrap_small
            .share_name test
            .share_id 0001
            .share_pic
        .buttons
          .share_my
            img(src='./image/share_my.png')
          .change_my
            img(src='./image/change_my.png')