<!DOCTYPE html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="http://oppofans-1252859479.file.myqcloud.com/public/css/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script src="https://hm.baidu.com/hm.js?668b36b1b3a8a135ed9fdcfb0254e2a1"></script>
  <title>博物馆</title>
 </head>
 <body>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/jquery-3.1.0.min.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/uploadImage.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/exif.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/ion.sound.min.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/preload.js"></script>
  <script src="http://oppofans-1252859479.file.myqcloud.com/public/js/xlz.js"></script>
  <script src="/js/share.js"></script>
  <div class="wrap">
   <div class="page loading">
    <div class="loading_box">
     <div class="loading_opening"></div>
     <div class="progress">
      <img src="http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bg.png" class="background" />
      <img src="http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bar.png" class="bar" />
     </div>
    </div>
   </div>
   <div class="page p0">
    <canvas id="my_video_1_x" class="xlz_video"></canvas>
   </div>
   <div class="page p1">
    <div class="share_wrap_">
     <div class="share_name_"></div>
     <div id="share_id">
      0001
     </div>
     <div class="share_pic_">
      <img class="pic_" />
     </div>
     <div class="english_words"></div>
    </div>
    <div class="build_my"></div>
    <div class="share_btn_"></div>
   </div>
   <div class="page p2">
    <div id="view">
     <div class="build_my"></div>
     <div id="bigCube">
      <div id="cube">
       <div class="stage">
        <div class="container"></div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>