* {
    margin: 0 auto;
    padding: 0;
}
@font-face {  
    font-family: 'my_font';  
    src:url('../my.otf');
    src:url('../my.otf')format('embedded-opentype'),/* IE6-IE8 */

    url('../my.otf')format('woff'),/* Modern Browsers */

    url('../my.otf')format('truetype'),/* Safari, Android, iOS */

    url('../my.otf')format('svg');/* Legacy iOS */ 
    font-weight: normal;  
    font-style: normal;  
}
html, body {
    font-family: my_font;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
}
@media only screen {
    body, html {
        font-size: 85px !important;
    }
}
@media only screen and (min-height: 375px){
    body, html {
        font-size: 100px !important;
    }
}
@media only screen and (min-height: 414px){
    body, html {
        font-size: 110px !important;
    }
}
video {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000000;
}
/* 防止闪屏 */
.wrap.p1-fake {
    background: url("../image/close.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}

.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

/* 加载页面 */
.loading {
    background-color: #1e1e1e;
    color: white;
}
.loading > .loading_head {
    width: 20vw;
    height: 20vw;

    position: fixed;
    bottom: 3.325rem;
    left: calc(50vw - 20vw / 2);
}
.loading > .progress {
    width: 28.4vw;
    height: 1.467vw;
    position: fixed;
    bottom: 3.06rem;
    left: calc(50vw - 28.4vw / 2);
}

.loading > .progress > .background,
.loading > .progress > .bar {
    width: 28.4vw;
    height: 1.467vw;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
}

.loading > .progress > .bar {
    width: 5%;
}

.loading > .loading_text {
    width: 19.73vw;
    height: 2.4vw;
    position: fixed;
    bottom: 2.85rem;
    left: calc(50vw - 19.73vw / 2);
}

.loading > .loading_title {
    width: 35vw;
    height: calc(17/265 * 35vw);
    position: fixed;
    bottom: 0.31rem;
    left: calc(50vw - 35vw / 2);
}

/* .loading > .loading_title > img {
    width: 265px;
    height: 17px;
} */

/* 第一页 */
#first_enter_box {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 50vw;
    height: 60px;
    margin-right: 25vw;
    margin-left: 25vw;
    position: fixed;
    bottom: 30px;
    z-index: 3;
}
#first_enter_box>img, #in>img{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}
.p1, .p3{
	display: none;
    background: url("../image/close.png");
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom;
    font-size: 12px;
}
.upload_wrap, .share_wrap{
    margin: 0 auto;
    margin-top: -500px;
    width: 350px;
    height: 453px;
    position: relative;
    overflow: hidden;
    background: url("../image/brand.png");
    background-size: 100% auto;
}
.share_wrap{
    width: 318px;
    height: 437px;
    background: url("../image/brand_.png");
    background-size: 100% auto;
}
.upload_wrap_small{
    position: relative;
    margin: 0 auto;
    margin-top: 186px;
    height: 217px;
    width: 165px;
    margin-bottom: 10px;
}
.share_wrap_small{
    position: relative;
    margin: 0 auto;
    margin-top: 117px;
    height: 321px;
    width: 198px;
}
.upload {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    opacity: 0;
    overflow: hidden;
    position: relative;
}
#btn_upload{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#pic {
    width: 100%;
    height: 100%;
}
.name{
    position: absolute;
    color: white;
    width: 50px;
    height: 19px;
    margin-top: 19px;
    margin-left: 5px;
}
.phone{
    position: absolute;
    color: white;
    width: 50px;
    height: 19px;
    margin-top: 57px;
    margin-left: 5px;
}
.share_name, .share_id, .share_pic{
    position: absolute;
    color: white;
}
.share_id{
    width: 35px;
    height: 13px;
    margin-top: 36px;
    margin-left: 47px;
}
.share_name{
    font-size: 30px;
    width: 62px;
    height: 32px;
    margin-top: 137px;
    margin-left: 20px;
}
.share_pic{
    width: 77px;
    height: 114px;
    margin-top: 41px;
    margin-left: 93px;
}
#name{
    color: white;
    appearance:none;  /*下拉框去掉右侧图标*/  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent; 
    position: absolute;
    width: 78px;
    height: 19px;
    margin-top: 19px;
    margin-left: -16px;
    border:0px;
}
#phone{
    border:0px;
    color: white;
    appearance:none;  /*下拉框去掉右侧图标*/  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent; 
    position: absolute;
    width: 78px;
    height: 19px;
    margin-top: 54px;
    margin-left: -16px;
}
#in {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.3rem;
    height: 0.59rem;
    bottom: 0.815rem;
    left: 30.93vw;
    background-image: url('/image/enter_mu.png');
    background-size: 100% 100%;
    overflow: hidden;
    position: fixed;
}
#welcome {
    width: 1.46rem;
    height: 0.215rem;
    bottom: 0.26rem;
    left: 28.58vw;
    background-image: url('/image/welcome.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
#light{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.05rem;
    height: 0.445rem;
    left: 34.6vw;
    bottom: 0.665rem;
    background-image: url('/image/close_light.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
#light_word{
    width: 1.46rem;
    height: 0.215rem;
    left: 28.58vw;
    bottom: 0.26rem;
    background-image: url('/image/close_light_words.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
.buttons{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: inline-flex;
}
.share_my{
    height: 50px;
    width: 100px;
    margin-left: 50px;
}
.change_my{
    height: 50px;
    width: 100px;
    margin-right: 50px;
}
.share_my>img, .change_my>img{
    width: 100%;
    height: 100%;
}
.btn_chuan {
    margin-top: 33px;
}
.p2{
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}
.p3{
    display: none;
}
  #view{
    background-color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    perspective: 950px;

  }
  #bigCube{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: 8;
  }
  #cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  .stage{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .container>div {
    width: 100%;
    height: 100%;
    
    background-size: 100% auto;
  }

  #my_video_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}
 #my_video_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}

#close_0{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
#share_in, #close{
    position: absolute;
}
#share_in{
    z-index: 10;
    margin-top: 30px;
}
#share_in_2{
    margin-top: 50px;
}
.mask{
    opacity: 0;
    display: none;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}