* {
    margin: 0 auto;
    padding: 0;
}
@font-face {  
    font-family: 'my_font';  
    src:url('../my.otf');
    src:url('../my.otf')format('embedded-opentype'),/* IE6-IE8 */

    url('../my.otf')format('woff'),/* Modern Browsers */

    url('../my.otf')format('truetype'),/* Safari, Android, iOS */

    url('../my.otf')format('svg');/* Legacy iOS */ 
    font-weight: normal;  
    font-style: normal;  
}
html, body, input {
    font-family: my_font;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
}
@media only screen {
    body, html {
        font-size: 85px !important;
    }
}
@media only screen and (min-height: 375px){
    body, html {
        font-size: 100px !important;
    }
}
@media only screen and (min-height: 414px){
    body, html {
        font-size: 110px !important;
    }
}
video {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
}

.xlz_video {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 2;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000000;
}
/* 防止闪屏 */
.wrap.p0-fakeh {
    background: url("/image/first_poster.jpg");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}
.wrap.p1-fake {
    background: url("/image/close.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}
.wrap.p2-fake-0 {
    background: url("/image/panorama/0/5.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}
.wrap.p2-fake-1 {
    background: url("/image/panorama/1/5.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}
.wrap.p2-fake-2 {
    background: url("/image/panorama/2/5.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
}

.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

/* 加载页面 */
.loading {
    background-color: #1e1e1e;
    color: white;
}
.loading > .loading_head {
    width: 20vw;
    height: 20vw;

    position: fixed;
    bottom: 3.325rem;
    left: calc(50vw - 20vw / 2);
}
.loading > .progress {
    width: 28.4vw;
    height: 1.467vw;
    position: fixed;
    bottom: 3.06rem;
    left: calc(50vw - 28.4vw / 2);
}

.loading > .progress > .background,
.loading > .progress > .bar {
    width: 28.4vw;
    height: 1.467vw;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
}

.loading > .progress > .bar {
    width: 5%;
}

.loading > .loading_text {
    width: 19.73vw;
    height: 2.4vw;
    position: fixed;
    bottom: 2.85rem;
    left: calc(50vw - 19.73vw / 2);
}

.loading > .loading_title {
    width: 35vw;
    height: calc(17/265 * 35vw);
    position: fixed;
    bottom: 0.31rem;
    left: calc(50vw - 35vw / 2);
}

/* 第一页 */
#first_enter_box {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.51rem;
    height: 0.56rem;
    position: fixed;
    bottom: 0.18rem;
    background-image: url('/image/first_enter.png');
    background-size: 100% 100%;
    background-color: inherit;
    left: calc(50vw - 1.51rem / 2);
    z-index: 3;
}

#first_poster {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000000;
    background: url("/image/first_poster.jpg");
    background-position: center bottom;
    background-size: 100% auto;
    z-index: 3;
}
.p1, .p3{
	display: none;
    background: url("/image/close.png");
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom;
    font-size: 12px;
}
.p3{
    background-image: url('/image/close_.png');
}
.upload_wrap{
    margin: 0 auto;
    margin-top: -120vw;
    margin-bottom: 1.5rem;
    width: 70vw;
    height: calc(812 / 480 * 70vw); /* 118.416667 */
    position: relative;
    overflow: hidden;
    background: url("../image/new_brand.png");
    background-size: 100% auto;
}
.upload_wrap > .upload {
    border: 1.3vw solid #ddd3ba;
    border-radius: 2vw;
    box-sizing: border-box;
}
.upload_wrap > .name_block,
.upload_wrap > .phone_block {
    color: white;
    font-family: my_font;
    border: 0.5vw solid #ddd3ba;
    border-radius: 2vw;
}
.share_wrap{
    margin: 0 auto;
    margin-top: -500px;
    width: 70vw;
    height: calc(928 / 534 * 70vw);
    position: relative;
    overflow: hidden;
    background: url("../image/brand_.png");
    background-size: 100% auto;
}
.share_wrap_{
    margin: 0 auto;
    margin-top: -500px;
    width: 70vw;
    height: calc(928 / 534 * 70vw);
    position: relative;
    overflow: hidden;
    background: url("../image/share/brand_.png");
    background-size: 100% auto;
}
/* 选择图片框 */
.upload {
    width: 40vw;
    height: 40vw;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: calc(70vw / 2 - 40vw / 2);
    margin: 0 auto;
}
#btn_upload{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* 填名字的框 */
.upload_wrap > .name_block {
    width: 40vw;
    height: 7.2vw;
    position: absolute;
    top: 69.5%;
    left: calc(70vw / 2 - 40vw / 2);
    background-color:transparent;

    text-align: left;
}
/* 填电话的框 */
.upload_wrap > .phone_block {
    width: 40vw;
    height: 7.2vw;
    position: absolute;
    top: 79.5%;
    left: calc(70vw / 2 - 40vw / 2);
    background-color:transparent;

    text-align: left;
}
.name,
.phone{
    color: #ddd3ba;
    height: 7.2vw;
    width: 10vw;

    font-size: 4vw;
    line-height: 7.2vw;
    font-weight: 200;
    padding-left: 2vw;
    float: left;
}
#name{
    color: #ddd3ba;
    font-size: 4vw;
    line-height: 7.2vw;
    font-weight: 400;
    /* appearance:none;  下拉框去掉右侧图标   */
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent;
    width: 26vw;
    height: 7.2vw;
    border:0;
    float: right;
    text-align: right;
    padding-right: 2vw;
}
#phone{
    color: #ddd3ba;
    font-size: 4vw;
    line-height: 7.2vw;
    font-weight: 400;
    /* appearance:none;  下拉框去掉右侧图标   */
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent;
    width: 26vw;
    height: 7.2vw;
    border:0;
    float: right;
    text-align: right;
    padding-right: 2vw;
}
.share_name, .share_id, .share_pic{
    position: absolute;
    color: white;
}
.share_id{
    font-family: my_font;
    width: 11.3vw;
    height: 3.46vw;
    margin-top: 33.9vw;
    margin-left: 15vw;
    font-size: 9px;
}
#share_id{
    position: absolute;
    color: white;
    font-family: my_font;
    width: 11.3vw;
    height: 3.46vw;
    margin-top: 32.9vw;
    margin-left: 12.5vw;
    font-size: 9px;
}
.share_name{
    color: #ddd3ba;
    font-size: 16px;
    width: 19vw;
    height: 15vw;
    margin-top: 65vw;
    margin-left: 10vw;
}
.share_pic{
    background-color: #000000;
    width: 24vw;
    height: 35.5vw;
    margin-top: 34.63vw;
    margin-left: 32.4vw;
}
.share_pic_{
    position: absolute;
    background-color: #000000;
    width: 24.4vw;
    height: 35.5vw;
    margin-top: 34.63vw;
    margin-left: 33.2vw;
}
.english_words{
    position: absolute;
    background-size: 100% 100%;
    background-image: url("/image/share/english_words.png");
    background-repeat: no-repeat;
    width: 51vw;
    height: 0.4rem;
    margin-top: 94.63vw;
    margin-left: 9.5vw;
    z-index: 10;
}
.share_btn_{
    position: absolute;
    background-size: 100% 100%;
    background-image: url("/image/share/share_btn.png");
    background-repeat: no-repeat;
    width: 51vw;
    height: 0.4rem;
    margin-top: 94.63vw;
    margin-left: 9.5vw;
    z-index: 10;
}
.pic_{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#in {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.3rem;
    height: 0.59rem;
    top: calc(928 / 534 * 70vw);
    /* bottom: 0.815rem; */
    left: calc(50vw - 1.3rem / 2);
    background-image: url('/image/enter_mu.png');
    background-size: 100% 100%;
    overflow: hidden;
    position: fixed;
    display: none;
}
#welcome {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 0.815rem;
    height: 0.215rem;
    top: calc(928 / 534 * 70vw + 0.59rem + 5vw);
    /* bottom: 0.26rem; */
    left: calc(50vw - 0.815rem / 2);
    background-image: url('/image/login.png');
    background-size: 100% 100%;
    position: fixed;
    display: none;
}
#try{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.3rem;
    height: 0.215rem;
    left: calc(50vw - 1.3rem / 2);
    bottom: 0.185rem;
    background-image: url('/image/try.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
#turn_off{
    z-index: 11;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.045rem;
    height: 0.425rem;
    left: calc(50vw - 1.045rem / 2);
    bottom: 0.91rem;
    background-image: url('/image/turn_light.png');
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
}
.turn_off{
    z-index: 11;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.045rem;
    height: 0.425rem;
    left: calc(50vw - 1.045rem / 2);
    bottom: 0.91rem;
    background-image: url('/image/turn_light.png');
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
}
#light_word{
    width: 1.46rem;
    height: 0.215rem;
    left: calc(50vw - 1.46rem / 2);
    bottom: 0.26rem;
    background-image: url('/image/close_light_words.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
.buttons{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: inline-flex;
}
.share_my{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 35vw;
    height: calc(94 / 269 * 35vw);
    left: 12vw;
    top: calc(928 / 534 * 70vw + 1.5rem - 0.545rem - (183 / 268 * 35vw));
    background-image: url('/image/share_my.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
.build_my{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 1.7rem;
    height: 0.6rem;
    right: calc(50vw - 0.85rem);
    top:calc(928 / 534 * 70vw + 1.5rem - 0.545rem - (183 / 268 * 35vw));
    background-image: url('/image/share/build_my.png');
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
    z-index: 10;
}
.change_my{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 35vw;
    height: calc(94 / 268 * 35vw);
    right: 12vw;
    top: calc(928 / 534 * 70vw + 1.5rem - 0.545rem - (183 / 268 * 35vw));
    background-image: url('/image/change_my.png');
    background-size: 100% 100%;
    background-color: inherit;
    position: fixed;
}
#share_gif{
    height: 0.445rem;
    right: 9px;
    top: 0.125rem;
    position: fixed;
}
.btn_chuan {
    margin-top: 33px;
}
.p2{
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    opacity: 1;
}
.p3{
    display: none;
}
  #view{
    background-color: #000000;
    background-position: center bottom;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    perspective: 950px;

  }
  #bigCube{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  #cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    z-index: 8;
  }
  .stage{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    z-index: 7;
  }
  
  .container>div {
    width: 100%;
    height: 100%;
    
    background-size: 100% auto;
  }

  #my_video_1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}
#my_video_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}

#close_0{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
/* #close{
    position: absolute;
} */
#share_in{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    height: 0.505rem;
    width: 1.43rem;
    left: calc(50vw - 1.43rem / 2);
    bottom: 0.65rem;
    background-image: url('/image/leave.png');
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
    z-index: 10;
}
.mask{
    opacity: 0;
    display: none;
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}
#shareit {
  -webkit-user-select: none;
  user-select: none;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 105;
}

.huadong {
    width: 100%;
    height:0.1rem;
    bottom: 2.785rem;
    position:fixed;
    font: 12px;
    font-family: my_font;
}
        
.huadong .notice_active {
    width: 100%;
    height: 0.1rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.huadong .notice_active li{
    list-style-type:none;
    overflow: hidden;
}
.huadong .notice_active li.notice_active_ch span {
    color: #ddd3ba;
    font-size:0.0975rem;
    display: block;
    overflow: hidden;
    overflow: hidden;
}
#dark{
    /*display: none;*/
    background-image: url("/image/popup/dark.png");
    background-size: 100% 100%;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}
#rule_btn{
    bottom: 0.35rem;
    right: 0.05rem;
    z-index: 4;
    width: 0.62rem;
    height: 0.175rem;
    position: fixed;
    background-image: url("/image/popup/entrance.png");
    background-size: 100% 100%;
    background-color: transparent;
}
#rule_back{
    right: 43vw;
    z-index: 4;
    height: 16vw;
    width: 16vw;
    bottom: 11vw;
    position: fixed;
    background-image: url("/image/popup/back.png");
    background-size: 100% 100%;
    background-color: transparent;
}
.center {
    margin-top: 24vw;
  margin-left: auto;
  margin-right: auto;
}
#rule-container {
        user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  display: none;
  position: absolute;
  width: calc(100vw / 7 * 6);
  height: 100%;
  left: calc(100vw / 14);
  left: calc(100vw / 14);
    z-index: 10;
  /*
   * Or using relative position for details
   * */
}

#paper-container {
    font-family: my_font;
  position: absolute;
  width: 100%;
  height: 124vw;
  bottom: 1rem;
  background-color: transparent;
  background-image: url("/image/popup/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#content {
    font-size: 0.1em;
    overflow:scroll;
    text-align: left;
  width: 72%;
  height: 85vw;
}

#part1, #part2, #part3 {
  letter-spacing: 0;
  line-height:0.185rem;
}

#button-container {
  width: 100%;
}

#close-button {
  width: 4em;
  height: 4em;
}

#rule-container:target {
  visibility: visible;
  z-index: 10;
}

#base {
  z-index: 1;
}