* {
    margin: 0 auto;
    padding: 0;
}
@font-face {  
    font-family: 'my_font';  
    src:url('../my.otf');
    src:url('../my.otf')format('embedded-opentype'),/* IE6-IE8 */

    url('../my.otf')format('woff'),/* Modern Browsers */

    url('../my.otf')format('truetype'),/* Safari, Android, iOS */

    url('../my.otf')format('svg');/* Legacy iOS */ 
    font-weight: normal;  
    font-style: normal;  
}
html, body {
    font-family: my_font;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #fff;
    font-size: 12px;
}
video {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    -o-object-fit: cover;
       object-fit: cover;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.p1{
	display: none;
    background-image:url('../image/close.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.p3{
    display: none;
    background: url("../image/close.png");
    background-size: 100% auto;
}
.upload_wrap, .share_wrap{
     animation: myfirst 3s;
    -moz-animation: myfirst 3s;
    -webkit-animation: myfirst 3s;
    -o-animation: myfirst 3s; 
    margin: 0 auto;
    margin-top: -500px;
    width: 350px;
    height: 453px;
    position: relative;
    overflow: hidden;
    background: url("../image/brand.png");
    background-size: 100% auto;
}
.share_wrap{
    width: 318px;
    height: 437px;
    background: url("../image/brand_.png");
    background-size: 100% auto;
}
.upload_wrap_small{
    position: relative;
    margin: 0 auto;
    margin-top: 186px;
    height: 217px;
    width: 165px;
    margin-bottom: 10px;
}
.share_wrap_small{
    position: relative;
    margin: 0 auto;
    margin-top: 117px;
    height: 321px;
    width: 198px;
}
.upload {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    opacity: 0;
    overflow: hidden;
    position: relative;
}
#btn_upload{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#pic {
    width: 100%;
    height: 100%;
}
.name{
    position: absolute;
    color: white;
    width: 50px;
    height: 19px;
    margin-top: 19px;
    margin-left: 5px;
}
.phone{
    position: absolute;
    color: white;
    width: 50px;
    height: 19px;
    margin-top: 57px;
    margin-left: 5px;
}
.share_name, .share_id, .share_pic{
    position: absolute;
    color: white;
}
.share_id{
    width: 35px;
    height: 13px;
    margin-top: 36px;
    margin-left: 47px;
}
.share_name{
    font-size: 30px;
    width: 62px;
    height: 32px;
    margin-top: 137px;
    margin-left: 20px;
}
.share_pic{
    width: 77px;
    height: 114px;
    margin-top: 41px;
    margin-left: 93px;
}
#name{
    color: white;
    appearance:none;  /*下拉框去掉右侧图标*/  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent; 
    position: absolute;
    width: 78px;
    height: 19px;
    margin-top: 19px;
    margin-left: -16px;
    border:0px;
}
#phone{
    border:0px;
    color: white;
    appearance:none;  /*下拉框去掉右侧图标*/  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background-color:transparent; 
    position: absolute;
    width: 78px;
    height: 19px;
    margin-top: 54px;
    margin-left: -16px;
}
#in {
    width: 111.9px;
    height: 50.7px;
    margin-top: 10px;
    background-image: url('/image/enter_mu.png');
    background-size: 100% 100%;
    background-color: inherit;
}
#welcome {
    width: 147.6px;
    height: 18.3px;
    margin-top: 5px;
    background-image: url('/image/welcome.png');
    background-size: 100% 100%;
    background-color: inherit;
}
.buttons{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: inline-flex;
}
.share_my{
    height: 50px;
    width: 100px;
    margin-left: 50px;
}
.change_my{
    height: 50px;
    width: 100px;
    margin-right: 50px;
}
.share_my>img, .change_my>img{
    width: 100%;
    height: 100%;
}
.btn_chuan {
    margin-top: 33px;
}
.p2{
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}
  #view{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:  0 auto;
    perspective: 950px;

  }
  #bigCube{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  #cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  .stage{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .container>div {
    width: 100%;
    height: 100%;
    
    background-size: 100% auto;
  }

  #my_video_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}
 #my_video_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*display: none;*/
}
#close_0{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
@keyframes myfirst
{
from {margin-top: -470px;}
to {margin-top: 0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {margin-top: -470px;}
to {margin-top: 0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {margin-top: -470px;}
to {margin-top: 0px;}
}

@-o-keyframes myfirst /* Opera */
{
from {margin-top: -470px;}
to {margin-top: 0px;}
}
#share_in, #close{
    position: absolute;
}
#share_in{
    z-index: 3;
    margin-top: 30px;
}
#share_in_2{
    margin-top: 50px;
}